# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Dataset folders
Feature/
PDB/

# Model checkpoints
*.pth
*.pt
*.ckpt

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

